// main: ../main.scss
/*--------------------------------------------------------------
# Services 2 Section
--------------------------------------------------------------*/
.services-2 {
  .section-title {
    h2 {
      
      font-size: 20px;
    }
  }

  .content {
    .service-item {
      background-color: var(--surface-color);
      padding: 20px 30px;
      border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
      border-left: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
      position: relative;

      .number {
        position: absolute;
        right: 10px;
        top: 10px;
        font-weight: 400;
        color: color-mix(in srgb, var(--default-color), transparent 80%);
      }

      .service-item-icon {
        position: relative;
        margin-bottom: 20px;
        color: var(--accent-color);

        img {
          width: 50px;
        }

        &:before {
          position: absolute;
          content: "";
          transform: rotate(45deg);
          z-index: -1;
          left: -20px;
          border-top: 40px solid transparent;
          border-bottom: 40px solid transparent;
          border-right: 40px solid var(--accent-color);
          display: none;
        }

        >span {
          color: var(--default-color);
          font-size: 4rem;
        }
      }

      .service-item-content {
        .service-heading {
          font-size: 20px;
          color: var(--default-color);
          font-weight: 400;
        }

        p {
          font-size: 15px;
        }
      }
    }

    @media (min-width: 769px) {
      [class^="col-"]:nth-child(4n+4) {
        .service-item {
          border-right: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
        }
      }

      [class^="col-"]:nth-last-child(-n+4) {
        .service-item {
          border-bottom: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
        }
      }
    }

    @media (max-width: 768px) {
      [class^="col-"]:nth-child(2n+2) {
        .service-item {
          border-right: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
        }
      }

      [class^="col-"]:last-child,
      [class^="col-"]:nth-last-child(2) {
        .service-item {
          border-bottom: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
        }
      }
    }

    @media (max-width: 576px) {
      [class^="col-"] {
        .service-item {
          border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
          margin-bottom: 10px;
        }
      }
    }
  }
}